<div class="container">
	<form (ngSubmit)=save()>

		<input type="hidden" [(ngModel)]="id" name="id" id="id">
		<input type="hidden" [(ngModel)]="account_id" name="account_id" id="account_id">

		<div class="panel panel-default">

			<div class="panel-heading">Kurssilaisen tiedot</div>
		
			<div class="panel-body">

				<div class="input-group">
					<span class="input-group-addon fa fa-user"></span>
					<input [(ngModel)]="first_name" name="first_name" class="form-control" type="text" id="first_name" placeholder="Etunimi" required>
				</div>

				<div class="input-group">
					<span class="input-group-addon fa fa-user"></span>
					<input [(ngModel)]="last_name" name="last_name" class="form-control" type="text" id="last_name" placeholder="Sukunimi" required>
				</div>

 				<ngbd-datepicker-i18n [(ngModel)]="model" name="birthday" [ngModelOptions]="{standalone: true}"></ngbd-datepicker-i18n>

				<div class="input-group">
					<span class="input-group-addon fa fa-pencil-square-o"></span>
					<textarea [(ngModel)]="notes" name="notes" class="form-control" id="notes" placeholder="Huomioita"></textarea>
				</div>

 				<button class="btn btn-primary">Tallenna</button>

			</div>
		</div>
	</form>
</div>
