<div class="container-fluid">

<!-- 	<div class="page-header">
		<h1>
			Aurajoen uinti
			<span class="float-right"><shopping-cart></shopping-cart></span>
		</h1>
	</div>
 -->

	<navigation-component></navigation-component>
<!-- 	<nav class="navbar navbar-fixed-top">
 		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><a routerLink="/login">Kirjaudu sisään</a></li>
				<li><a routerLink="/customer">Laskutustiedot</a></li>
				<li><a routerLink="/swimmer-list">Uimarit</a></li>
				<li><a routerLink="/courses">Kurssit</a></li>
			</ul>
		</div>
	</nav>
 -->
<!--  	<nav class="navbar navbar-default">
		<a routerLink="/customer" routerLinkActive="active">Laskutustiedot</a>
		<a routerLink="/swimmer" routerLinkActive="active">Uimarit</a>
	</nav>
 -->
 	<div class="col-sm-12">
		<router-outlet></router-outlet>
	</div>

</div>


<!--   <customer-detail></customer-detail>
  <swimmer-detail></swimmer-detail>
 -->
