    <div class="input-group">
      <span class="input-group-addon fa fa-calendar" (click)="d.toggle()"></span>
      <input
        class="form-control"
        placeholder="Syntymäaika (pp.kk.vvvv)"
              ngbDatepicker
              [(ngModel)]="model"
              #d="ngbDatepicker"
              required
              />
    </div>

<!--               name="birthday"
              [(ngModel)]="birthday"
 -->
    <div *ngIf="d && d.errors && (d.dirty || d.touched)" class="alert alert-danger">
      <div *ngIf="!d.errors.required">
        Name is required
      </div>
      <div *ngIf="!d.errors.minlength">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="!d.errors.maxlength">
        Name cannot be more than 24 characters long.
      </div>
    </div>

